@CHARSET "ISO-8859-1";

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

table, td {
	border: 0px;
	margin: 0px;
}
td {
	padding: 2px;
}


/*==============================================================================
 * Control Panel
 *----------------------------------------------------------------------------*/
#ControlPanel {
	background: #e0e0e0;
	border-bottom: 1px outset;
	display: inline-block;
	left: 0px;
	right: 0px;
	text-align: right;
	top: 0px;
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
}

#ControlPanel #title {
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	margin: 5px 0px 2px 10px;
}

#ControlPanel .ControlButton {
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 6px 2px 2px 2px;
	width: 16px;
}

#ToggleConsole {
	background-image: url("images/application_osx_terminal.png");
}

#ToggleDebug {
	background-image: url("images/bug.png");
}

#ToggleSettings.show {
	background-image: url("images/control_equalizer_blue.png");
}

#ToggleSettings.hide {
	background-image: url("images/control_equalizer.png");
}

#ToggleHelp {
	background-image: url("images/help.png");
}


/*==============================================================================
 * Debug
 *----------------------------------------------------------------------------*/
#Debug.show {
	background: #e0e0e0;
	border: 1px outset;
	display: block;
	left: 5px;
	margin: 5px;
	padding-top: 4px 4px 4px 4px;
	right: 5px;
}

#Debug.hide {
	display: none;
}

#Debug #dbgConfig {
	height: 200px;
	width: 100%;
}


/*==============================================================================
 * Settings
 *----------------------------------------------------------------------------*/
#Settings.show {
	background: #e0e0e0;
	border: 1px outset;
	display: block;
	left: 5px;
	margin: 5px;
	padding-top: 4px 4px 4px 4px;
	right: 5px;
	text-align: center;
}

#Settings.hide {
	display: none;
}


/*==============================================================================
 * DeviceMenu
 *----------------------------------------------------------------------------*/
#DeviceMenu.show {
	background: #d0d0d0;
	border: 1px outset;
	display: block;
	left: 5px;
	margin: 5px;
	padding-top: 4px 4px 4px 4px;
	right: 5px;
}

#DeviceMenu.hide {
	display: none;
}

#DeviceMenu .Menu {
	display: block;
	left: 5px;
	margin: 6px;
	right: 5px;
}

#DeviceMenu .Menu .MenuTitle {
	background: #e0e0e0;
	border: 2px outset;
	cursor: pointer;
	display: block;
	font-size: 1.5em;
	padding: 4px;
	white-space: nowrap;
}

#DeviceMenu .Menu .SubMenu.show {
	display: block;
	font-size: 1em;
	left: 5px;
	margin-left: 6px;
	right: 5px;
}

#DeviceMenu .Menu .SubMenu.hide {
	display: none;
}

#DeviceMenu .Device {
	background: #e0e0e0;
	border: 2px outset;
	display: block;
	left: 5px;
	margin: 6px;
	padding: 4px;
	right: 5px;
}

#DeviceMenu .Device .DeviceTitle {
	cursor: pointer;
	display: block;
	font-size: 1.5em;
	white-space: nowrap;
}

#DeviceMenu .Device .DeviceConfig.show {
	background: #f0f0f0;
	border: 2px inset;
	display: block;
	font-size: 1em;
	left: 5px;
	margin: 6px;
	padding: 4px;
	right: 5px;
}

#DeviceMenu .Device .DeviceConfig.hide {
	display: none;
}


/*==============================================================================
 * Help
 *----------------------------------------------------------------------------*/
#Help.show {
	background: #e0e0e0;
	border: 1px outset;
	display: block;
	font-size: 0.9em;
	left: 5px;
	margin: 5px;
	padding: 4px 4px 4px 4px;
	right: 5px;
}
#Help.hide {
	display: none;
}

